$bluenight: #333745;
$canaryblue: #05aec0;
$snowymount: #f3f9f9;
$lilacash: #93a3b1;

$primary: $bluenight;
$secondary: $canaryblue;
$info: $lilacash;
$link: $secondary;

$background: $snowymount;

:export {
  dark: $primary;
  light: $secondary;
}

@import url("https://fonts.googleapis.com/css?family=Catamaran:100,400|Roboto&display=swap");
@import "~bulma/bulma.sass";

.blog {
  background-color: #fff;
  padding: 15px;
  margin-top: -200px;
  &-header {
    margin-bottom: 20px;
  }
  &-heading {
    font-family: "Catamaran", sans-serif;
    font-weight: 100;
    font-size: 2em;
    color: #dddddd;
  }
}

.hero {
  &.has-background {
    position: relative;
    overflow: hidden;
  }
  &-background {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 70vh;
  }
}
