$bluenight: #333745;
$canaryblue: #05aec0;
$snowymount: #f3f9f9;
$lilacash: #93a3b1;

$primary: $bluenight;
$secondary: $canaryblue;
$info: $lilacash;
$link: $secondary;

$background: $snowymount;

:export {
  dark: $primary;
  light: $secondary;
}

@import url("https://fonts.googleapis.com/css?family=Poppins|Roboto&display=swap");
@import "~bulma/bulma.sass";

body {
  background-color: $background;
  color: $primary;
  font-family: "Roboto", sans-serif;
  .hint {
    font-style: italic;
    color: $info;
    margin-left: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
  }
}

.title {
  font-family: "Poppins", sans-serif;
  color: $secondary;
}

#particle-bg canvas {
  position: absolute;
  height: 100vh;
}

.extra-container {
  background-color: #fff;
  box-shadow: 5px 5px 15px rgba($secondary, 0.3);
  height: 650px;
}
